.card-img-top {
    height: 80%;
}

section {
    padding-top: 3rem; 
}

.main{
    width: 80%;
}

.results{
    position: absolute;
    display: none;
    z-index: 999;
    overflow-y: auto;
    width: 13em;
}

.card{
    --bs-card-border-color:none;
}

.col-md-12 {
    cursor: default;
}

footer {
    cursor: default;
}

h1 {
  cursor: default;
}
.card h6 {
  cursor: pointer;
}

.btn-outline-primary {
    --bs-btn-border-color: none;
}

.animation:hover {
    animation: pulse 2s ease-in-out infinite;
}
  
@keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
}

@media screen and (max-width: 2560px){
    .card-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1440px){
    .list-group{
        max-height: 500px;
        font-size: 0.9rem;
    }
    .col-md-6{
        max-height: 100%;
    }
   
   .list-group-item {
       line-height: 1.5;
       font-size: 1rem;
    }
   .card{
    --bs-card-spacer-x: 0rem;
   }
   .img-fluid{
      max-height: 900px;
    }
}

@media screen and (max-width: 1024px){
    .list-group-item{
        font-size: 0.8rem;
        --bs-list-group-item-padding-y: 0rem;
        --bs-body-line-height: none;
    }
}

@media screen and (max-width: 768px){
    .list-group-item{
        font-size: 0.7rem;
    }
}

    


    





